---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-site-verification" content="WH5yK5pEky5qND2FOW3_hvm3VlPkjRtV731y81BcsTc" />
<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />
<Content/>
</body>
</html>