---
import Footer from '../components/Footer.astro';
import Intro from '../widget/Intro.astro';
import About from '../widget/About.astro';
import Fitur from '../widget/Features.astro';
import Info from '../widget/Info.astro';
import Built from '../widget/Built.astro';
---
<div class="container-fluid">
<main class="row">
<Intro/>
<About/>
<Fitur/>
<Info/>
<Built/>
</main>
<Footer />
</div>