---
const today = new Date();
import { SITE_TITLE } from '../config';
import Services from '../widget/Services.astro';
---
<Services/>
<footer class="col-md-12 p-1 text-center">
	&copy; {today.getFullYear()} {SITE_TITLE} powered by <a href="https://cloudflare.com">cloudflare</a> develope by <a href="https://www.fiverr.com/creativitas/create-your-custom-website-and-app">creativitas</a>
</footer>